{% extends 'base.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}{% trans "Historial" %}{% endblock %}

{% block content %}
<h2 class="fw-bold">{% trans "HISTORIAL" %}</h2>

<div class="intro-description" style="text-align: justify;">
    <p>{%trans "En Historial, podrás ver los últimos registro de medición del estado del suelo para un usuario. La plataforma proporciona el historial de todos los registros almacenados para cada usuario, mostrando datos como el pH, la materia orgánica, los niveles de nutrientes (fósforo, calcio, magnesio, etc.). Si deseas continuar viendo las gráficas, puedes volver a inicio." %}</p>
  </div>

<p class="fw-medium">{% trans "Últimos registros" %}</p>

<div class="table-responsive">
  <table class="table text-center table-bordered w-100 historial-table">
    <thead>
      <tr>
          <th>{% trans "fecha" %}</th>
          <th>{% trans "Humedad Suelo" %}</th>
          <th>{% trans "Luz" %}</th>
          <th>{% trans "Temperatura" %}</th>
          <th>{% trans "Humedad Aire" %}</th>
          <th>{% trans "Nitrógeno" %}</th>
          <th>{% trans "Fósforo" %}</th>
          <th>{% trans "Potasio" %}</th>
          <th>{% trans "PH" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
      <tr>
        <td>{{ registro.fecha|iso_to_local_datetime:"America/Mexico_City" }}</td>
        <td>{{ registro.HumedadSuelo }}</td>
        <td>{{ registro.Luz }}</td>
        <td>{{ registro.Temperatura}}</td>
        <td>{{ registro.HumedadAire}}</td>
        <td>{{ registro.Nitrogeno}}</td>
        <td>{{ registro.Fosforo}}</td>
        <td>{{ registro.Potasio }}</td>
        <td>{{ registro.PH}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="mt-4">
  <a href="{% url 'inicio' %}" class="btn btn-success footer-btn">{% trans "VOLVER A INICIO" %}</a>
</div>
{% endblock %}
