{% extends 'base.html' %}

{% block title %}Historial{% endblock %}

{% block content %}
<h2 class="fw-bold">HISTORIAL</h2>
<p class="fw-medium">Últimos registros</p>

<div class="table-responsive">
  <table class="table text-center table-bordered w-100 historial-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Nitrógeno</th>
        <th>Humedad</th>
        <th>pH</th>
        <th>Potasio</th>
        <th>Fósforo</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
      <tr>
        <td>{{ registro.fecha }}</td>
        <td>{{ registro.nitrogeno }}</td>
        <td>{{ registro.humedad }}</td>
        <td>{{ registro.ph }}</td>
        <td>{{ registro.potasio }}</td>
        <td>{{ registro.fosforo }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="mt-4">
  <a href="{% url 'inicio' %}" class="btn btn-success footer-btn">VOLVER A INICIO</a>
</div>
{% endblock %}
