{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2 class="fw-bold">INICIO</h2>
<p class="fw-medium">Último registro</p>

<div class="record-box">
  {% if ultimo_registro %}
  <div class="row">
    <div class="col">Nitrógeno<br><strong>{{ ultimo_registro.nitrogeno }}</strong></div>
    <div class="col">PH<br><strong>{{ ultimo_registro.ph }}</strong></div>
    <div class="col">Fósforo<br><strong>{{ ultimo_registro.fosforo }}</strong></div>
  </div>
  <div class="row mt-3">
    <div class="col">Humedad<br><strong>{{ ultimo_registro.humedad }}</strong></div>
    <div class="col">Potasio<br><strong>{{ ultimo_registro.potasio }}</strong></div>
  </div>
  {% else %}
  <p>No hay registros aún.</p>
  {% endif %}
</div>

<div class="mt-4">
  <a href="{% url 'historial' %}" class="btn btn-success footer-btn">HISTORIAL</a>
</div>
{% endblock %}
